<p id="notice"></p>

<h1>Books</h1>
<h2>Title</h2>
<p><%= @book.title %></p>
<h2>Body</h2>
<p><%= @book.body %></p>

<div class="author-case">

<%= link_to "edit", "/books/#{@book.id}/edit" %>
<a class="back" href="/books">Back</a>
