<p id="notice"></p>

<h1>Books</h1>
<h2>Title</h2>
<p><%= @book.title %></p>
<h2>Body</h2>
<p><%= @book.body %></p>

<div class="author-case">

<a class="edit" href="/books/#{book.id}/edit">Edit</a>
<a class="back" href="/books">Back</a>
